{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Define el contenido -->
{% block content %}
  <!-- Contenido -->
<main>
	<center><h1 class = "text-light">Select an Option</h1></center>


	<div class="row justify-content-center">
	  <div class="col-sm-auto">

		<div class="card">
			<a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('sensor.index')}}">
		  <div class="card-body">
		<img src="/static/img/sensor.jpg" class="rounded-circle" width="250" height="250" class="img-circle">
			<p class="card-text"></p>
		  </div>
             <h3>SENSORS</h3>
			</a>
		</div>
	  </div>

	  <div class="col-sm-auto">
		<div class="card">
			<a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('verified_seism.index')}}">
		  <div class="card-body">
		<img src="/static/img/seism.png" class="rounded-circle" width="250" height="250">
			<p class="card-text"></p>
		  </div>
            <h3>VERIFIED SEISMS</h3>
			</a>
		</div>
	  </div>

	  <div class="col-sm-auto">
		  <div class="card">
			  <a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('user.index')}}">
		    <div class="card-body">
		  <img src="/static/img/users2.png" class="rounded" width="250" height="250" class="img-circle">
			  <p class="card-text"></p>

		    </div>
               <h3>USERS</h3>
			  </a>
		  </div>

	  </div>
	  <div class="col-sm-auto">
		<div class="card">
			<a type="button" class="btn btn-sm" data-toggle="tooltip" href="{{url_for('unverified_seism.index')}}">
		  <div class="card-body">
		<img src="/static/img/unverifiedseism.png" class="rounded-circle"  width="250" height="250" class="img-circle">
			<p class="card-text"></p>
		  </div>
				<h3>UNVERIFIED SEISMS</h3>
			</a>
		</div>

	  </div>
	</div>


</main>
{% endblock %}