{% macro show_unverified_seism(unverified_seism) %}
<tr>
    <th scope="row">{{unverified_seism.id}}</th>
    <td>{{unverified_seism.datetime}}</td>
    <td>{{unverified_seism.depth}}</td>
    <td>{{unverified_seism.magnitude}}</td>
    <td>{{unverified_seism.latitude}}</td>
    <td>{{unverified_seism.longitude}}</td>
    <td>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="view">
          <a href="{{ url_for('unverified_seism.view',id=unverified_seism.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
        </button>
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="delete">
          <a href="{{ url_for('unverified_seism.delete',id=unverified_seism.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                </svg>
          </a>
        </button>
        <button type="button" class="btn btn-sm" data-toggle="tooltip" title="edit">
          <a href="{{ url_for('unverified_seism.edit',id=unverified_seism.id) }}">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
              </svg>
          </a>
        </button>
      </div>
    </td>
  </tr>
{% endmacro %}

{% macro show_user(user) %}
<tr>
  <th scope="row">{{user.id}}</th>
  <td>{{user.email}}</td>
  <td>{{user.admin}}</td>
    <td>
    <div class="btn-group" role="group">
        <a type="button" class="btn btn-sm" data-toggle="tooltip" title="delete" href="{{ url_for('user.delete',id=user.id) }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </a>
        <a type="button" class="btn btn-sm" data-toggle="tooltip" title="edit" href="{{ url_for('user.edit',id=user.id) }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
              </svg>
        </a>
    </div>
    </td>
</tr>
{% endmacro %}

{% macro show_verified_seism(verified_seism) %}
<tr>
    <th scope="row">{{verified_seism.id}}</th>
    <td>{{verified_seism.datetime}}</td>
    <td>{{verified_seism.depth}}</td>
    <td>{{verified_seism.magnitude}}</td>
    <td>{{verified_seism.latitude}}</td>
    <td>{{verified_seism.longitude}}</td>
    <td>
      <div class="btn-group" role="group">

          <button type="button" class="btn btn-sm" data-toggle="tooltip" title="view">
              <a href="{{ url_for('verified_seism.view',id=verified_seism.id) }}">
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
              </a>
          </button>
          <button type="button" class="btn btn-sm" data-toggle="tooltip" title="download">
              <a href="#">
                  <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="yellow" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                          <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                          <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                    </svg>
              </a>
          </button>
      </div>
    </td>
  </tr>
{% endmacro %}

{% macro show_sensor(sensor) %}
<tr>
  <th scope="row">{{sensor.id}}</th>
  <td>{{sensor.name}}</td>
  <td>{{sensor.status}}</td>
  <td>{{sensor.active}}</td>
  <td>
    {% if sensor.user %}
    {{sensor.user.email}}
    {% endif %}
  </td>
  <td>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-sm" data-toggle="tooltip" title="view">
          <a href="{{ url_for('sensor.view',id=sensor.id) }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                  </svg>
          </a>
      </button>

      <button type="button" class="btn btn-sm" data-toggle="tooltip" title="delete">
          <a href="{{ url_for('sensor.delete',id=sensor.id) }}">
             <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
          </a>
      </button>

      <button type="button" class="btn btn-sm" data-toggle="tooltip" title="edit">
          <a href="{{ url_for('sensor.edit',id=sensor.id) }}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pen-fill" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
                  </svg>
          </a>
      </button>

    </div>
  </td>
</tr>
{% endmacro %}