<!-- Hereda del template main -->
{% extends "main.html" %}

<!-- Importar el archivo de macros -->
{% import "macros.html" as macro %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->

  <!-- Filtro -->
<div class="justify-content-center text-center">
<h1>Sensors</h1>
</div>
  <form class="form-inline my-2  my-lg-2 justify-content-center">
      <a href="{{ url_for('sensor.create') }}" role="button" class="btn btn-success my-2 my-sm-1 center" type="submit">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-post-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7 2l.5-2.5 3 3L10 5a1 1 0 0 1-1-1zM4.5 3a.5.5 0 0 0 0 1H7a.5.5 0 0 0 0-1H4.5zm0 3a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5h-7z"/>
              </svg>
          Add sensor </a>
      <select class="custom-select mx-2 ">
        <option selected>Select one option for filter</option>
        <option value="1">Name</option>
        <option value="2">Status</option>
        <option value="3">Active</option>
        <option value="4">User Associated</option>
      </select>
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Filter</button>
      <i class="fas fa-sort-alpha-down fa-2x fa-lg"></i>
        <select class="custom-select mx-2">
          <option selected>Sort by</option>
          <option value="1">A-Z</option>
          <option value="2">Z-A</option>
        </select>
  </form>


<!-- Tabla -->
  <div class="row justify-content-center">
    <div class="col-md-auto d-none d-md-block"></div>
    <div class="col-md-auto">
      <table class="table table-dark table-bordered table-hover table-responsive">
        <thead class="thead">


          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Active</th>
            <th scope="col">User Associated</th>
            <th scope="col">Actions</th>
          </tr>

        </thead>
        <tbody>

          {% for sensor in sensors %}
          {{ macro.show_sensor(sensor) }}
          {% endfor %}

        </tbody>
      </table>
    </div>
  </div>


<br>

<!-- Pagination -->
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>

      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

<br>
<!-- Fin Contenido -->
{% endblock %}