{% extends "main.html" %}
{% block content %}
  <!-- Contenido -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 table-responsive">
                <h2>Detailed Unverified Seism {{unverified_seism.id}}</h2>
                <table>
                    <tr>
                        <th scope="col " class = "p-2">DATE TIME:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark ">{{unverified_seism.datetime}} </span></th>
                    <tr>
                        <th scope="col" class = "p-2">MAGNITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark">{{unverified_seism.magnitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">DEPHT:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark">{{unverified_seism.depth}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LATITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark">{{unverified_seism.latitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">LONGITUDE:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark">{{unverified_seism.longitude}}</span></th>
                    </tr>
                    <tr>
                        <th scope="col" class = "p-2">SENSOR:</th> <th scope="col"> <span class="border border-dark shadow p-1 mb-5 bg-white text-dark">{{unverified_seism.sensor.id}}</span></th>
                    </tr>
                </table>
            </div>

            <div class="col-md-5">
                <div class="google-maps">  <iframe src="https://maps.google.com/maps?width=100%25&amp;height=100%25&amp;hl=en&amp;q={{ unverified_seism.latitude }},{{ unverified_seism.longitude }}&amp;t=k&amp;z=8&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                    width="300" height="300" frameborder="0" style="border:0;width: 100% !important;top: 20px;left: 0 "
                    allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pagination justify-content-center">
            <div class="col-md-4 pagination justify-content-center">
                <button  type="button" class="btn btn-primary m-2">
                    <a class="text-light" href="{{ url_for('unverified_seism.delete',id=unverified_seism.id) }}">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="white" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                    </svg>
                        DELETE</a>
                </button>
            </div>
            <div class="col-md-4 pagination justify-content-center">
                <button  type="button" class="btn btn-primary m-2 ">
                    <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                      <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg> DOWNLOAD
                </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}