<!-- Hereda del template main -->
{% extends "main.html" %}

<!-- import shows del template de form -->
{% from "form_macros.html" import show_field, show_submit, show_placeholder %}

<!-- Importar el archivo de macros -->
{% import 'macros.html' as macros %}

<!-- Define el contenido -->
{% block content %}
<!-- Filtro -->
  <form class="form-inline my-2 my-lg-2 justify-content-center" method="GET" action="{{ url_for('unverified_seism.index') }}">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg>
      <div class="form-group col-md-auto">
                    {{ show_field(filter.from_datetime, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto">
                    {{ show_field(filter.to_datetime, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto">
                  {{ show_field(filter.sensorId , class='form-control')}}
              </div>
              <div class="form-group mt-auto col-md-auto">
                  {{show_submit(filter.submit, class='btn btn-outline-light my-2 my-sm-0 mx-2')}}
              </div>
  </form>

  <!-- Contenido -->
  <main>
    <div class="container">
      <h1>Unverified Seisms</h1>
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <table class="table table-dark table-hover table-bordered table-responsive ">
            <thead>
              <tr class="text-center">
                <th scope="col">ID</th>
                <th scope="col">
                  {% if request.args.sort_by == "datetime.desc"  %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'datetime.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Datetime</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('unverified_seism.index',
                  sort_by = 'datetime.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Datetime</a>
                  {% endif %}
                </th>
                <th scope="col">
                  {% if request.args.sort_by == "sensor.name.desc" %}
                  <a class="text-white" href="{{ url_for('unverified_seism.index',
                  sort_by = 'sensor.name.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Sensor Name</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('unverified_seism.index',
                  sort_by = 'sensor.name.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Sensor Name</a>
                  {% endif %}
                </th>
                <th scope="col">
                  {% if request.args.sort_by == "magnitude.desc" %}
                  <a class="text-white" href="{{ url_for('unverified_seism.index',
                  sort_by = 'magnitude.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Magnitude</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('unverified_seism.index',
                  sort_by = 'magnitude.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,)}}">Magnitude</a>
                  {% endif %}
                </th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                {% for unverified_seism in unverified_seisms %}
                {{ macros.show_unverified_seism(unverified_seism) }}
                {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
        <div class="col-md-2 d-none d-md-block"></div>
      </div>

          <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
       <!-- desactivar boton retroceso TOTAL si ya esta en la primera pagina-->

        {% if pagination.current_page != 1 %}
      <li class="page-item">
        <a class="page-link" href="{{ url_for('unverified_seism.index',
            page = 1,
            sort_by = request.args.sort_by,
            from_datetime = request.args.from_datetime,
            to_datetime = request.args.to_datetime,
            datetime = request.args.datetime,
            magnitude = request.args.magnitude,
            magnitude_min = request.args.magnitude_min,
            magnitude_max = request.args.magnitude_max,
            depth = request.args.depth,
            sensorId = request.args.sensorId )}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        <!-- desactivar boton retroceso si ya esta en la primera pagina-->
        {% if pagination.current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('unverified_seism.index',
            page = (pagination.current_page-1),
            sort_by = request.args.sort_by,
            from_datetime = request.args.from_datetime,
            to_datetime = request.args.to_datetime,
            datetime = request.args.datetime,
            magnitude_min = request.args.magnitude_min,
            magnitude_max = request.args.magnitude_max,
            depth_min = request.args.depth_min,
            depth_max = request.args.depth_max,
            magnitude = request.args.magnitude,
            depth = request.args.depth,
            sensorId = request.args.sensorId )}}" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
        </li>
        <!--si es la primera pagina postrar flecha retroceso-->
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span></a>
        </li>
        {% endif %}
        <!--recorremos la cantidad de paginas que hay para el filtrado-->
        {% for n in range(pagination.current_page-5, pagination.current_page+5) %}
        {%if n>=1 and n<=pagination.pages %}
        <!--redireccion a cada pagina que no sea la actual para c/boton-->
        {% if n != pagination.current_page %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('unverified_seism.index',
          page = n,
          datetime = request.args.datetime,
          sort_by = request.args.sort_by,
          from_datetime = request.args.from_datetime,
          to_datetime = request.args.to_datetime,
          magnitude = request.args.magnitude,
          magnitude_min = request.args.magnitude_min,
          magnitude_max = request.args.magnitude_max,
          depth_min = request.args.depth_min,
          depth_max = request.args.depth_max,
          depth = request.args.depth,
          sensorId = request.args.sensorId )}}">{{n}}</a>
        </li>
        {% else %}
        <!--si la pagina es la actual marcar desabilitado y -->
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- Boton de siguiente / desactivar si ya es la ultima pagina -->
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('unverified_seism.index',
            page = (pagination.current_page+1),
            sort_by = request.args.sort_by,
            datetime = request.args.datetime,
            from_datetime = request.args.from_datetime,
            to_datetime = request.args.to_datetime,
            magnitude = request.args.magnitude,
            magnitude_min = request.args.magnitude_min,
            magnitude_max = request.args.magnitude_max,
            depth_min = request.args.depth_min,
            depth_max = request.args.depth_max,
            depth = request.args.depth,
            sensorId = request.args.sensorId )}}" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span></a>
        </li>
        {% endif %}
        <!-- Boton de siguiente TOTAL/ desactivar si ya es la ultima pagina -->
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
              <a class="page-link" href="{{ url_for('unverified_seism.index',
              page = (pagination.pages),
              sort_by = request.args.sort_by,
              datetime = request.args.datetime,
              from_datetime = request.args.from_datetime,
              to_datetime = request.args.to_datetime,
              magnitude = request.args.magnitude,
              depth = request.args.depth,
              magnitude_min = request.args.magnitude_min,
              magnitude_max = request.args.magnitude_max,
              sensorId = request.args.sensorId )}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
            <span aria-hidden="true">&raquo;</span></a>
        </li>
      {% endif %}
      </ul>
    </nav>
    </div>
  </main>

{% endblock %}