<!-- Hereda del template main -->
{% extends "main.html" %}

<!-- import shows del template de form -->
{% from "form_macros.html" import show_field, show_submit, show_placeholder %}

<!-- Importar el archivo de macros -->
{% import 'macros.html' as macros %}

<!-- Define el contenido -->
{% block content %}
<!-- Contenido -->
 <div class="col-sm-12">
                <button  type="button" class="btn btn-primary m-2 ">
                    <svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
                      <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
                      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
                </svg>
                  DOWNLOAD SELECTED SEISMS
                </button>
            </div>
<!-- Filtros -->
<form class="form-inline my-2 my-lg-0 justify-content-center" method="GET" action="{{ url_for('verified_seism.index') }}">
    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-funnel-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
      </svg>
          <div class="justify-content-center">
             <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.from_datetime, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.to_datetime, class='form-control' )}}
              </div>
          </div>
          <div class="justify-content-center">
              <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.magnitude_min, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.magnitude_max, class='form-control' )}}
              </div>
          </div>
          <div class="justify-content-center">
              <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.depth_min, class='form-control' )}}
              </div>
              <div class="form-group col-md-auto my-2">
                    {{ show_field(filter.depth_max, class='form-control' )}}
              </div>
          </div>
          <div class="justify-content-center">
              <div class="form-group col-md-auto my-2">
                  {{ show_field(filter.sensorId , class='form-control')}}
              </div>
              <div class="form-group mt-auto col-md-auto">
                  {{show_submit(filter.submit, class='btn btn-outline-light my-2 my-sm-0 mx-2')}}
              </div>
          </div>
</form>

<!-- Terminan filtros -->

<!-- "titulo"-->
<main>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>Verified Seisms</h1>

        <!-- Tabla -->
        <div class="text-center">
          <table class="table table-dark table-hover table-bordered table-responsive">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">
                  {% if request.args.sort_by == "datetime.desc"  %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'datetime.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Datetime</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'datetime.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Datetime</a>
                  {% endif %}
                </th>
                <th scope="col">
                  {% if request.args.sort_by == "depth.desc"  %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'depth.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Depth</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'depth.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Depth</a>
                  {% endif %}
                </th>
                <th scope="col">
                  {% if request.args.sort_by == "sensor.name.desc" %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'sensor.name.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Sensor Name</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'sensor.name.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Sensor Name</a>
                  {% endif %}
                </th>
                <th scope="col">
                  {% if request.args.sort_by == "magnitude.desc" %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'magnitude.asc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Magnitude</a>
                  {% else %}
                  <a class="text-white" href="{{ url_for('verified_seism.index',
                  sort_by = 'magnitude.desc',
                  depth = request.args.depth,
                  sensorId = request.args.sensorId,
                  magnitude = request.args.magnitude,
                  datetime = request.args.datetime,
                  magnitude_min = request.args.magnitude_min,
                  magnitude_max = request.args.magnitude_max,
                  depth_min = request.args.depth_min,
                  depth_max = request.args.depth_max,
                  from_datetime = request.args.from_datetime,
                  to_datetime = request.args.to_datetime,)}}">Magnitude</a>
                  {% endif %}
                </th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>

              {% for verified_seism in verified_seisms %}
              {{ macros.show_verified_seism(verified_seism) }}
              {% endfor %}

            </tbody>
          </table>
        </div>

      </div>
    </div>

    <!-- Pagination -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <!-- desactivar boton retroceso si ya esta en la primera pagina-->
        {% if pagination.current_page != 1 %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('verified_seism.index',
        page = (pagination.current_page-1),
        sort_by = request.args.sort_by,
        from_datetime = request.args.from_datetime,
        to_datetime = request.args.to_datetime,
        datetime = request.args.datetime,
        magnitude_min = request.args.magnitude_min,
        magnitude_max = request.args.magnitude_max,
        depth_min = request.args.depth_min,
        depth_max = request.args.depth_max,
        magnitude = request.args.magnitude,
        depth = request.args.depth,
        sensorId = request.args.sensorId )}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <!--si es la primera pagina postrar flecha retroceso-->
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        <!--recorremos la cantidad de paginas que hay para el filtrado-->
        {% for n in range(1, pagination.pages+1) %}
        <!--redireccion a cada pagina que no sea la actual para c/boton-->
        {% if n != pagination.current_page %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('verified_seism.index',
          page = n,
          datetime = request.args.datetime,
          sort_by = request.args.sort_by,
          from_datetime = request.args.from_datetime,
          to_datetime = request.args.to_datetime,
          magnitude = request.args.magnitude,
          magnitude_min = request.args.magnitude_min,
          magnitude_max = request.args.magnitude_max,
          depth_min = request.args.depth_min,
          depth_max = request.args.depth_max,
          depth = request.args.depth,
          sensorId = request.args.sensorId )}}">{{n}}</a>
        </li>
        {% else %}
        <!--si la pagina es la actual marcar desabilitado y -->
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="+1" aria-disabled="true">{{n}}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- Boton de siguiente / desactivar si ya es la ultima pagina -->
        {% if pagination.current_page != pagination.pages %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('verified_seism.index',
            page = (pagination.current_page+1),
            sort_by = request.args.sort_by,
            datetime = request.args.datetime,
            from_datetime = request.args.from_datetime,
            to_datetime = request.args.to_datetime,
            magnitude = request.args.magnitude,
            magnitude_min = request.args.magnitude_min,
            magnitude_max = request.args.magnitude_max,
            depth_min = request.args.depth_min,
            depth_max = request.args.depth_max,
            depth = request.args.depth,
            sensorId = request.args.sensorId )}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a href="#" class="page-link" tabindex="-1" aria-disabled="true" aria-label="Next">
            <span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</main>
<!-- Fin Contenido -->
{% endblock %}


