.header {
    background-color:rgb(39, 57, 81) !important;
    }


.breadcrumb{
    background-color:rgba(59, 94, 184,0.4) !important;
    }
html {
   min-height: 100%;
}
body {
  /* The image used */
    background-image: url("fondo3.jpg");
  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(24, 25, 27,0.4) !important;
}
.home-menu-centered{
    height: 10em;
  display: flex;
  align-items: center
}
.breadcrumb-item{
    color:rgb(255, 255,255) !important;
    }

.breadcrumb-item > a{
   color:grey !important;
    }

.nav-footer {
    background-color:rgba(59, 94, 184,0.5);
    position:fixed;
    bottom: 0;
    height: 40px;
    left: 0;
    width: 100%;
    padding-bottom: 16px;
    border-top: 2px;
    z-index:2000;
    }

.card {background-color:rgba(178, 182, 188,0.4) !important}
.card-body {background-color:rgba(178, 182, 188,0) !important}
.card-header {background-color:rgba(46, 136, 254,0.5) !important}

