.header {
    background-color:rgb(39, 57, 81) !important;
    }


.breadcrumb{
    background-color:rgb(59, 94, 184) !important;
    }

body {

   background-color: rgb(24, 25, 27) !important;
}

.breadcrumb-item{
    color:rgb(255, 255,255) !important;
    }

.breadcrumb-item > a{
   color:grey !important;
    }

.page-footer {
   background-color:rgb(59, 94, 184);
    position: fixed;
     height: 80px;
     bottom: 0;
      width: 100%;
    }


.card-body {background-color:rgba(66, 134, 244,0) !important}
.card-header {background-color:rgba(66, 134, 244,0) !important}

